- content_for :title do
    GraduationProject
    \|
    Editing
    = @course.title

.card
    .card-header
        %h3
            .fa.fa-laptop-code
            Editing course
    .card-body
        = render 'form'
    .card-footer
        = link_to 'Show', @course
        \|
        = link_to 'Back', courses_path
