- content_for :title do
    GraduationProject
    \|
    New course

.card
    .card-header
        %h3
            .fa.fa-laptop-code
            New course
    .card-body      
        = render 'form'
    .card-footer
        = link_to 'Back', courses_path
