%hr
%footer
  .container
    .row
      .col-md-4
        Copyright
        ©
        = Time.now.year
        KTU
        .row
        .fa.fa-envelope
        = mail_to 'muberrabulbul97@gmail.com'
        .row
      .col-md-4
        Privacy policy
        .row
        blalalalal
      .col-md-4
        About use
        .row
        = link_to 'Tech', new_course_path
%br
    